.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 8px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 2px;
    
}

.input__box:focus {

    box-shadow: 0 0 10px 10000px rgb(57, 204, 204,0.5);
    outline: none;
}

.input_submit {
    position:absolute;
    width: 60px; 
    height: 60px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    background-color: #eee3e7;
    transition: 0.2s all;
    box-shadow: 0 0 10 pink;

}

.input_submit:hover {
background-color: rgb(225, 227, 238);

}

.input_submit:active{

    transform: scale(0.9);
    box-shadow: 0 0 5px rgb(255, 192, 203);
}

.todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;

}

.single_todo {

    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding:20px;
    margin-top: 15px;
    background-image: url('https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?t=st=1651342876~exp=1651343476~hmac=be25861b918c8482411d257baa2436423d0d947b34a4ccfde2db21aca2e69c0d&w=826');
}

.single_todo--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.icon { 
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}


@media (max-width:700px) {
    .input {
        width: 95%;
    }
    .todos {
        width: 95%;
    }

    .single_todo{
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .single_todos{
        width: 40px;
    }
}